################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Totallydays
/Totallydays/bin/Debug/netcoreapp3.1
*.json
/Totallydays/obj
/Totallydays/wwwroot/img/hosting
/Totallydays/node_modules
