@model Hosting;
@{
    ViewData["Title"] = "AllBookingHosting";
}

<div class="booking-block my-5">

    <div>
        <table class="table" id="hosting-all-booking">
            <thead>
                <tr>
                    <th scope="col"> Fait par </th>
                    <th scope="col"> Début </th>
                    <th scope="col"> Fin </th>
                    <th scope="col"> Montant </th>
                    <th scope="col"> Status </th>
                    <th scope="col"> Action </th>
                </tr>
            </thead>
            <tbody>
                <partial name="~/Views/MiddleBooking/_partial/hostingTableBooking.cshtml" model="@Model.Bookings" />
            </tbody>
        </table>
    </div>

</div>


<div id="modal_hosting_booking">
    <partial name="/Views/Modal/hostingBookingModal.cshtml" model="@this.ViewBag.bookingvalidation" />
</div>



@section Scripts{
    <script>
        let urlHostingBooking = '@Url.RouteUrl("hosting_booking_validation_post", new { id= Model.Hosting_id})';
    </script>
    <script src="~/js/hostingBooking.js"></script>
}
