@{
    ViewData["Title"] = "Mes Réservations";
}

<div class="booking-block my-5">

    <nav>
        <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Réservations à venir</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Réservations passées</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Réservations annulées</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <partial name="~/Views/MiddleBooking/_partial/_booking.cshtml" model="this.ViewBag.futurBooking" />
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <partial name="~/Views/MiddleBooking/_partial/_booking.cshtml" model="this.ViewBag.PassedBooking" />
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <partial name="~/Views/MiddleBooking/_partial/_booking.cshtml" model="this.ViewBag.CancelledBooking" />
        </div>
    </div>
</div>

<div id="modal_booking_comment">
    <partial name="/Views/Modal/bookinCommentModal.cshtml" model="@this.ViewBag.formComment" />
</div>


@section Scripts{ 
    <script src="~/js/booking.js">  </script>
}