
@{
    ViewData["Title"] = "EmailVerifyView";
}

<h1>Verification de votre email</h1>

<div>
    <p>
        Merci de votre confiance, vous avez reçu un email de validation de votre compte.
    </p>
</div>

