@model Totallydays.ViewsModel.FormForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container my-5">
    <h2>Mot de passe oublié ??</h2>
    <p>
        Entrez votre adresse e-mail ci-dessous et nous vous enverrons la marche à suivre.
        Si vous ne voyez pas notre e-mail, regardez dans votre dossier Spam.
        E-mail
    </p>
    <hr />
    <div>
        <div class="col-md-6">
            <form method="POST">
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-info"> Envoyer ma demande </button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

