
@{
    ViewData["Title"] = "ForgotPasswordSendEmail";
}

<div class="container">
    <p class="h3">Si vous avez un compte chez nous, vous avez reçu un email pour la mise a jour de votre mot de passe</p>
</div>

