@model Totallydays.ViewsModel.FormResetPasswordToken;
@{
    ViewData["Title"] = "resetForgotPassword";
}

<div class="container my-5">
    <h1>Reset du mot de passe</h1>
    <div class="col-md-6">
        <form method="POST">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <input type="hidden" asp-for="Email" />
            </div>
            <div>
                <input type="hidden" asp-for="Token" />
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="mot de passe" />
                <span asp-validation-for="Password" class="text-danger"> </span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="confirmer le mot de passe" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"> </span>
            </div>
            <button type="submit" class="btn btn-info"> Envoyer la demande </button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


