@model Totallydays.ViewsModel.ForgotPasswordEmailViewModel;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h3>Bonjour @Model.User.FullName </h3>
<p>Voici le lien pour reset votre mot de passe : <a href="@Model.Url">Reset</a></p>