@model Totallydays.ViewsModel.SendMailValidationEmail;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <p>bonjour @Model.User.FullName</p>
    <p> Merci de votre confiance </p>
    <p> Veuillez cliquer sur ce <a href="@Model.url">Lien</a> Pour la verification de votre adresse Email </p>
</div>